
nav ul li a {display: block;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: #c71551;
    #transform: scale(1.05);
    /*text-decoration: underline;*/
}

.scale {
    transition: 0.25s; /* Время эффекта */
}
.scale:hover {
    transform: scale(1.30); /* Увеличиваем масштаб */
    cursor: pointer;
}

a.disable {
   pointer-events: none;
   cursor: default;
   opacity:0.4
}
a.enable {
    opacity:1
}

/*input.short {
    width : 120px;
    height: 30px;
}*/

/*.standard2 {
    width : 150px;
}
input.medium {
    width : 250px;
}

input.long {
    width : 400px;
}

button.standard {
    width : 150px;
}

span.red-txt {
    color: red;
}

nav {
    background: #b2dfdb;
}*/

/*.h50 {
    height: 50%;
}*/

input.standard {
    width : 150px;
    height: 30px;
}
/*row.no_m_b {
    margin-bottom : 1px;
}*/

.hlink:hover {
    text-decoration: underline;
}
/*.row {
    margin-bottom: 0px;
}*/

/*.row {
margin-bottom: 5px;
}*/




