<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>CBTicket</title>
    <link   th:href="@{/css/common.css}" rel="stylesheet" />
    <link   th:href="@{/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <head>
</head>
<body>
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li class="active"><a href="home">Home</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="config">Config</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="settings">Settings</a></li>
                            <li><a href="database">Database</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="account">Users</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="test">Testing</a></li>
                            <li><a href="logs">Logs</a></li>
                            <li><a href="about" class="active">About</a></li>

                        </ul>
                        <ul id="nav-mobile-logout" class="right hide-on-med-and-down">
                            <li sec:authorize="isAuthenticated()">
                                <i>
                                    Hello, <span sec:authentication="name"></span>
                                </i>
                            </li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col s12 offset-s1">
            <iframe>src="http://localhost:8085/swagger-ui/index.html?configUrl=/v3/api-docs/swagger-config"</iframe>
            </div>
        </div>
</body>

</html>