<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>CBTicket Properties</title>
        <link   th:href="@{/css/common.css}" rel="stylesheet" />
        <link   th:href="@{/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <head>
    <body ng-app="ManagementModule" ng-controller="ConfigController">

        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="home">Home</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="active"><a href="config">Config</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="settings">Settings</a></li>
                            <li><a href="database">Database</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="account">Users</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="test">Testing</a></li>
                            <li><a href="logs">Logs</a></li>

                        </ul>
                        <ul id="nav-mobile-logout" class="right hide-on-med-and-down">
                            <li sec:authorize="isAuthenticated()">
                                <i>
                                    Hello, <span sec:authentication="name"></span>
                                </i>
                            </li>
                            <li><a href="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col s10 offset-s1">
                <div class="row">
                    <div class="col s12">
                        <h4>
                            Configs CBTicket application
                        </h4>
                    </div>
                </div>

                <!--Секция списка загруженных конфиг файлов и форма загрузки-->

                <div class="row">

                    <div class="col s12 m8 l5">

                        <h5>Configuration files:</h5>

                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Modify date</th>
                            </tr>
                            <tr ng-repeat="file in files">
                                <td> <a class="hlink" href="api/settings/download/{{file.filename}}">{{file.filename}}</a></td>
                                <td >{{ file.lastModifyDate }}</td>
                                <td>
                                    <a title="Delete" ng-confirm-click="Are you sure to delete file [{{file.filename}}] " confirmed-click="form1_deleteFile(file)">
                                        <img class="scale" th:src="@{/images/delete1.png}" width="25" height="25" />
                                    </a>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="col s4 m3 l3 offset-l1">

                        <h5>Upload config file :</h5>

                        <form action="#" ng-submit="form1_importFile()">

                                <div class="row">
                                    <div class="file-field input-field ">

                                        <input type="file" file-model="settingsFile">

                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload file">
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <input class="standard" type="submit" value="Import" />
                                    </div>

                                </div>

                        </form>

                    </div>

                </div>

                <div class="row">
                    <div class="col s6">
                        <h5>Restart application</h5>
                        <br>
                        <input class="standard" type="button"  ng-confirm-click="Are you sure to restart application?" confirmed-click="restartApp()" value="Restart" />
                    </div>
                </div>


            </div>


            </div>

        <!--</div>-->

    </body>

    <script th:src="@{angular.js}"></script>
    <script th:src="@{/js/mainApp.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{js/materialize.min.js}"></script>

</html>