<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CBTicket Properties</title>
        <script th:src="@{angular.js}"></script>
        <script th:src="@{/js/mainApp.js}"></script>
        <script th:src="@{/js/settings.js}"></script>
        <script th:src="@{js/materialize.min.js}"></script>
        <link   th:href="@{/css/common.css}" rel="stylesheet" />
        <link   th:href="@{/css/materialize.min.css}" rel="stylesheet" media="screen,projection"/>
    <head>
    <body ng-app="ManagementModule" ng-controller="SettingsController">

        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="database">Database</a></li>
                        <li><a href="test">Testing</a></li>
                        <li><a href="logs">Logs</a></li>
                    </ul>
                    <ul id="nav-mobile-logout" class="right hide-on-med-and-down">
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <h4>
                Settings CBTicket application
            </h4>

            <br/>

            <h5>Configuration files:</h5>

            <div class="row">
                <div class="col s6">

                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Modify date</th>
                        </tr>
                        <tr ng-repeat="file in files">
                            <td> <a href="api/settings/download/{{file.filename}}">{{file.filename}}</a></td>
                            <td >{{ file.lastModifyDate }}</td>
                            <td>
                                <a title="Delete" ng-confirm-click="Are you sure to delete file [{{file.filename}}] " confirmed-click="deleteFile(file)">
                                    <img class="scale" th:src="@{/images/delete1.png}" width="25" height="25" />
                                </a>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>

            <br/>

            <h5>Upload new file :</h5>

            <!--<form ng-submit="form1_importFile()" >
                <table border="0">
                    <tr>
                        <td><input type="file" file-model="settingsFile"/></td>
                    </tr>
                    <tr>
                        <td ><input type="submit" value="Import" /></td>
                    </tr>
                </table>
            </form>-->

            <div class="row">
                <div class="col s6">

                   <!-- <form ng-submit="form1_importFile()">
                        <div class="file-field input-field">
                            <div class="btn-small">
                                <span>File</span>
                                <input type="file" file-model="settingsFile">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" />
                            </div>
                        </div>
                        <input class="waves-effect waves-light btn" type="submit" value="Import"/>

                    </form>-->


                        <form action="#" ng-submit="form1_importFile()">

                            <div class="row">
                                <div class="file-field input-field">
                                    <div class="col s3 waves-effect waves-light btn">
                                        <span>File</span>
                                        <input type="file" file-model="settingsFile">
                                    </div>
                                    <div class="col s9 file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload file">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <input class="btn" type="submit" value="Import" />
                                </div>
                            </div>

                        </form>


                </div>
            </div>

            <!--<h5>Restart application:</h5>

            <input class="waves-effect waves-light btn" ng-confirm-click="Are you sure to restart application?" confirmed-click="restartApp()" value="Restart" />
-->
        </div>

        <br/>

    </body>
</html>