<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CBTicket</title>
    <script th:src="@{angular.js}"></script>
    <script th:src="@{/test.js}"></script>
    <link   th:href="@{/main.css}" rel="stylesheet" />
</head>
<body ng-app="CBTicket" ng-controller="TestController">

<h2>
    CBTicket Application test page
</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Input</th>
        <th>Result</th>
    </tr>
    <tr>
        <td >
            <input type="button" value="POST /api/ticket/add" width="50"  ng-click="addTicket()" class="standard"/>
        </td>
        <td>
            <table  border="0" >
                <tr>
                    <td class="custom">callback number*:</td>
                    <td class="custom">callback date:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text ng-model="ticket.cbNumber" /></td>
                    <td class="custom"><input class="short" type=text ng-model="ticket.cbDate" /></td>
                </tr>

                <tr>
                    <td class="custom">url:</td>
                    <td class="custom">ucid_old:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text ng-model="ticket.cbUrl" /></td>
                    <td class="custom"><input class="short" type=text ng-model="ticket.ucidOld" /></td>
                </tr>

                <tr>
                    <td class="custom">callback type:</td>
                    <td class="custom">callback source:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text ng-model="ticket.cbType" /></td>
                    <td class="custom"><input class="short" type=text ng-model="ticket.cbSource" /></td>
                </tr>

            </table>
        </td>
        <td>
            <textarea  rows="5" cols="150" name="result1" ng-model="addTicketResult"></textarea>
        </td>

    </tr>
    <tr>
        <td >
            <input type="button" value="GET /api/ticket/{id}" width="50"  ng-click="testGetOneTicket()" class="standard"/>
        </td>
        <td>
            <table  border="0" >
                <tr class="custom">
                    <td class="custom">id:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text name="ticketId" ng-model="ticketId" /></td>
                </tr>
            </table>
        </td>
        <td>
            <textarea  rows="5" cols="150" name="result1" ng-model="getOneResult"></textarea>
        </td>

    </tr>
    <tr>
        <td >
            <input type="button" value="GET /api/ticket/job" ng-click="getJobTickets()" class="standard"/>
        </td>
        <td>
            <table  border="0" >
                <tr class="custom">
                    <td class="custom">count:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text name="jobCount" ng-model="jobCount" /></td>
                </tr>
            </table>
        </td>
        <td>
            <textarea  rows="5" cols="150" ng-model="getJobResult"></textarea>
        </td>

    </tr>
    <tr>

        <td >
            <input type="button" value="GET /test/ticket/job" ng-click="testJobTickets()" class="standard"/>
        </td>
        <td>
            <table  border="0" >
                <tr class="custom">
                    <td class="custom">count:</td>
                </tr>
                <tr>
                    <td class="custom"><input class="short" type=text name="jobCount" ng-model="jobCount2" /></td>
                </tr>
            </table>
        </td>
        <td>
            <textarea  rows="5" cols="150" ng-model="testJobResult"></textarea>
        </td>
    </tr>

</table>
<br/>

<input type="button" id="btn1" value="Очистить" class="standard" ng-click="clearFormData()"/>


</body>
</html>